# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing & Coverage
coverage/
.nyc_output/
playwright-report/
test-results/

# Next.js Build Outputs
.next/
out/
build/
dist/

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS files
.DS_Store
*.pem
.idea/
.vscode/
*.swp
*.swo

# Prisma Generated Clients
prisma/generated/

# Uploads / Local Storage
uploads/
tmp/
scratch/
